.employee.general-page {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    overflow-y: auto;

    .btn-container {
        display: flex;
        flex-direction: row-reverse;
        button {
            margin-left: 15px;
        }
    }
}

