.employee.general-page {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 15px;
    overflow-y: auto;

    :ng-deep {
        .mat-mdc-outlined-button {
            border-radius: var(--mdc-outlined-button-container-shape, var(--mat-sys-corner-small)) !important;
        }
    }
    .btn-container {
        display: flex;
        flex-direction: row-reverse;
        button {
            margin-left: 15px;
        }
    }
}

